section {
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

footer {
    text-align: center;
    background-color: #00674b;

}

footer a {
    position: relative;
    left: 35%;
    color: black;
}

footer span {
    position: relative;
    left: 5%;
}

p {
    font-size: 23px;
}

.Blog-Introduction {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 13px;
}