section {
  width: 80%;
  display: flex; 
}

.cart-productContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 75%;
  margin-top: 50px;
}

.cart-productContent {
  display: none;
  border: 2px dotted cyan;
  padding: 12px;
  width: 100%;
  display: flex;
  gap: 50px;
}

.cart-productContent img {
  width: 200px;
}

.product-details {
  width: 25%;
}

.cart-price {
  
}

.cart-interaction {
  align-self: flex-end;
}

.cart-interaction button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.cart-interaction button:hover {
  transform: scale(1.1,1.1);
}

.cart-interaction button img {
  width: 40px;
}
