table {
  width: 70%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
}

th {
  text-align: left;
  padding: 8px;
  color: white;
  background-color: #00674b;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.cart-info img {
  width: 300px;
}

#quantity {
  width: 50px;
}

.product-details a {
  text-decoration: none;
  color: orange;
  font-size: small;
}