section {
    float:left;
    margin-left: 20%;
}

.feedback-form {
    color: black;
    border: solid 2px black;
    height: 700px;
    width: 700px;
    margin: auto;
    margin-top: 64px;
    background-color: rgba(233, 227, 227, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.feedback-form form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.feedback-form form input,
.feedback-form form textarea {
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
    background: transparent;
    border: solid 1px black;
    resize: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    
}

.feedback-form form input:hover,
.feedback-form form textarea:hover {
    border-bottom: 2px solid black;
}

.feedback-form form input::placeholder,
.feedback-form form textarea::placeholder {
    position: absolute;
    top: 5%;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

#comment {
    size: 100;
}

.feedback-type {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.feedback-checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.feedback-checkbox input {
    margin: 0 5px;
    padding: 0;
}

.feedback-checkbox label {
    font-size: 20px;
    color: black;
}

.rating {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.rating button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.rating img {
    transition: transform 0.2s ease-in-out;
}

.rating img:hover {
    transform: scale(1.1,1.1);
}

.rating img {
    opacity: 0.5;
}

#happyRating {
    opacity: 1;
}

.submit-button {
    width: 150px;
    margin-top: 50px;
    transition: transform 0.2s ease-in-out;
    background-color: aliceblue;
}

.submit-button:hover{
    transform: scale(1.1,1.1);
}





